################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/obj/Debug/netcoreapp2.0
/GoogleDriveImport.csproj.user
/GoogleDriveImport.sln
/bin/Debug/netcoreapp2.0
/obj
